@import "//at.alicdn.com/t/font_533011_0qtsbw7mtvbr19k9.css"
@import "../../../../../node_modules/stylus-px2rem/index.styl"
html-font-size = 100px;
/**
* some Function
*/
setTopLine(c=#c7c7c7)
  content ''
  position absolute
  left 0
  top 0
  right 0
  height 1px
  border-top 1px solid c
  color c
  transform-origin 0 0
  transform scaleY(0.5)

setBottomLine(c=#c7c7c7)
  content ''
  position absolute
  left 0
  bottom 0
  right 0
  height 1px
  border-bottom 1px solid c
  color c
  transform-origin 0 100%
  transform scaleY(0.5)
setTapColor(c=rgba(0,0,0,0))
  tap-highlight-color c
_setArrow(arrowSize,borderColor,borderWidth)
  display inline-block
  height arrowSize
  width arrowSize
  border-width borderWidth borderWidth 0 0
  border-color borderColor
  border-style solid

setArrow(direction,arrowSize,borderColor,borderWidth)
  if direction == top
    _setArrow(arrowSize,borderColor,borderWidth)
    transform  matrix(0.71,-0.71,0.71,0.71,0,0)
  else if direction == right
    _setArrow(arrowSize,borderColor,borderWidth)
    transform matrix(0.71,0.71,-0.71,0.71,0,0)
    position relative
    top -2px
  else if direction == down
    transform matrix(-0.71,0.71,-0.71,-0.71,0,0)
    position relative
    top -3px
  else if direction == up
    transform matrix(-0.71,-0.71,0.71,-0.71,0,0)
    position relative
    top -2px
/**
* color
*/
meuiColorPrimary = #1AAD19
meuiColorWarn = #E64340

/**
* text
*/
meuiTextColorTitle = #000000;
meuiTextColorTips = #B2B2B2;
meuiTextColorWarn = meuiColorWarn;
meuiTextColorGray = #999999;

/**
* Header
*/
header-background-color = #6fc6ff
header-title-color = #fff
header-text-color = #eeeeee
header-arrow-color = #eeeeee

/**
* Group
*/
group-title-margin-top = 15px
group-title-margin-bottom = 8px
cell-tips-font-size = 14px;
/**

* Cell
*/
meuiCellBg = #ffffff
meuiCellBorderColor = #d9d9d9
meuiCellGapV = 10px
meuiCellGapH = 15px
meuiCellHeight = 44px
meuiCellFontSize = 17px
meuiCellTipsFontSize = cell-tips-font-size

meuiCellLineHeight = ((meuiCellHeight)-(meuiCellGapV)*2)
meuiCellMarginTop = 20px

cell-disabled-arrow-color = #e2e2e2

cell-default-arrow-color = #c8c8cd
cell-default-arrow-border-width = 2px
cell-default-arrow-width = 6px
/**
* tap
*/
.meui-tap-active
  tap-highlight-color rgba(0,0,0,0)
  user-select none
.meui-tap-active:active
  background-color #ececec
/**
* cell-access
*/
.meui-cell_access
  setTapColor()
  color inherit
  &:active
    background-color #ececec
  .meui-cell__ft
    padding-right 13px
    position relative
    &:after
      content ''
      setArrow(right,cell-default-arrow-width,cell-default-arrow-color,cell-default-arrow-border-width)
      position absolute
      top 50%
      margin-top -2px
      right 2px
/**
* meui-cell
*/
.meui-cell
  padding meuiCellGapV meuiCellGapH
  position relative
  display flex
  align-item center
  &:before
    setTopLine(meuiCellBorderColor)
    left meuiCellGapH
  &:first-child
    &:before
      display none
